<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret</key>
	<string>bP15d27U5qoYRApr0zT0WyL4Ai7Pkm8OzRZdzL6yTXqqiH5MIZ</string>
	<key>API Key </key>
	<string>FNNlAr7L7Eqx5QhH1s6t0WwgT</string>
</dict>
</plist>
